<div class="container-fluid">
    <ul class="topnav">
        <li class="right">
            <a routerLink="/auth">
                <button mat-raised-button color="warn" type="button">Login</button>
            </a>
        </li>
    </ul>

    <!-- Removed h-100 class from section so it adjusts based on content -->
    <section class="h-custom" style="background-color: #8fc4b7; padding: 2rem 0;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                            alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
                            <form [formGroup]="userRegistrationForm">
                                <!-- User Type Radio Group -->
                                <label style="font-size: larger;font-weight: bold;">Select User Type:</label>
                                <mat-radio-group formControlName="userType" (change)="onTypeChange($event.value)"
                                    class="mb-5" style="display: flex;">
                                    <mat-radio-button style ="margin-right: 10px;" value="USER">End User</mat-radio-button>
                                    <mat-radio-button style ="margin-right: 10px;" value="AMBULANCE">Ambulance Driver</mat-radio-button>
                                    <mat-radio-button style ="margin-right: 10px;" value="HOSPITAL">Hospital</mat-radio-button>
                                </mat-radio-group>
                                <!-- Email -->
                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" placeholder="Enter email" formControlName="username">
                                </mat-form-field>

                                <!-- Password -->
                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" placeholder="Enter password"
                                        formControlName="password">
                                </mat-form-field>
                                <!-- mobile no  -->
                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>Mobile No</mat-label>
                                    <input matInput placeholder="Enter Mobile No." formControlName="phone">
                                </mat-form-field>
                                 <!-- location -->
                                <mat-form-field class="w-100 mb-3" appearance="outline">
                                    <mat-label>Location:</mat-label>
                                    <mat-select formControlName="location">
                                        <mat-option *ngFor="let city of cities " [value]="city">
                                            {{city}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Ambulance Details -->
                                <div *ngIf="userRegistrationForm.get('userType')?.value === 'AMBULANCE'">
                                    <h4>Ambulance Details</h4>
                                    <mat-divider></mat-divider>
                                    <mat-form-field appearance="outline" class="w-100 mb-3">
                                        <mat-label>Driver Name</mat-label>
                                        <input matInput placeholder="Enter Driver Name" formControlName="driverName">
                                    </mat-form-field>
                                    
                                </div>
                                <!-- Hospital Details -->
                                <div *ngIf="userRegistrationForm.get('userType')?.value === 'HOSPITAL'">
                                    <h4>Hospital Details</h4>
                                    <mat-divider></mat-divider>
                                    <mat-form-field appearance="outline" class="w-100 mb-3">
                                        <mat-label>Hospital Name</mat-label>
                                        <input matInput placeholder="Enter Hospital Name"
                                            formControlName="hospitalName">
                                    </mat-form-field>
                                    
                                </div>
                                <button class="w-100 mb-3" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>