<section class="h-custom" style="background-color: #8fc4b7; padding: 2rem 0;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                        class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                        alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Sign In</h3>
                        <form [formGroup]="loginForm">
                            <mat-form-field appearance="outline" class="w-100 mb-3">
                                <mat-label>User Name</mat-label>
                                <input matInput type="text" placeholder="Enter user name" formControlName="username">
                            </mat-form-field>

                            <!-- Password -->
                            <mat-form-field appearance="outline" class="w-100 mb-3">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Enter password" formControlName="password">
                            </mat-form-field>
                            <button class="w-100 mb-3" [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit" (click)="signIn()">Submit</button>
                        </form>
                        <footer class="login-footer">
                            <p>Don't have an account? <a routerLink="/register">Register here</a></p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>